@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared styles */

.display-flex{
    display: flex;
}
.dark{
    color: black;
}

.dark-2{
     color: rgba(66, 66, 66, 1);
}

.dark-3{
     color: rgba(114, 114, 114, 1);
}

.dark-4{
    color: rgba(161, 161, 161, 1);
}

.orange{
    color: rgba(255, 144, 14, 1);
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
   
}

.button-primary{
    background-color: rgba(255, 144, 14, 1);
    padding: 15px 20px;
    border-radius: 15px;
    font-size: 1rem;
    color: aliceblue;
    font-weight: 600; 
    border: none;
}


main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 170px;
}


/* Header styles */


/* Navbar Styles */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10%;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}

/* Banner related style */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-img{
    width: 100%;
}

/* Main style section  */

    .teams{
        align-items: center;
    }

    .feature-title{
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .feature-paragraph{

    }

    .our-features{
        margin-left: 130px;
    }

    .team-img-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 24px;
    }

    
    .thin-font{
        font-weight: 500;
    }

 /* Some facts Related Style  */

    .fact-card{
        border: 1px solid rgba(255, 144, 14, 1);
        width: 240px;
        height: 240px;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .facts-container{
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
        align-items: center;
       
    }

    .fact-number{
        font-size: 2.8rem;
        font-weight: 600;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .fact-name{
        font-size: 1.25rem;
        font-weight: 600;
        margin-top: 10px;
    }
/* Responsive Media Query */

@media screen and (max-width: 576px) {
    .navbar,
    .nav-link,
    .teams
    {
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }

    .our-features{
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* Medium Size device */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }

    .our-features{
        margin-left: 10%;
        margin-right: 10%;
    }
}